body {
    background-image: url(../img/background-dices.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 120px;
}

#title,
#container-buttons {
    width: fit-content;
}

#title-image {
    width: 100px;
}

.svg-win {
    fill: green;
}

.svg-fail {
    fill: red;
}

.svg-tie {
    fill: blue;
}

.score-win {
    background-color: green;
}

.score-fail {
    background-color: red;
}

.score-tie {
    background-color: blue;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}